.contain {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
  
  }
  
  .body-background {
    background-color: whitesmoke;
  }
  
  .item {
    border: 1px solid #ff0000db;
  }
  
  .spin {
    margin: 5.7em 0em 0em 0em;
  }
  
  .product_link {
    color: #000000;
  }
  
  .product_link:hover,
  .product_link:focus {
    text-decoration: none;
    color: #000000;
  }
  
  .product {
    border: 0.8px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 5px;
    background-color: #fff;
    margin: 4px 2px 2px 2px;
    border-radius: 0.3rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .product:hover,
  .product:focus {
    background-color: #20ad2518;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .product-name {
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 140px;
    font-size: 12px;
  }
  
  .product-image {
    width: 100%;
  }
  
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
  }
  
  div.categories {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.categories::-webkit-scrollbar {
    display: none;
  }
  
  .button {
    margin: 0 0.3em 0 0.3em;
    padding: 3px 14.5px 3.5px 14.5px;
    color: #212529;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid #0069d9;
    font-size: 1rem;
    color: #fff;
    border-radius: 2rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .button:focus {
    outline: 0;
  }
  
  .button-view,
  .button-view:hover,
  .button-view:focus {
    background-color: #0069d9;
  }
  
  .price {
    padding: 0 10px 0 10px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 0.5px solid #00d919;
    font-size: 12px;
    color: #272727;
    border-radius: 2rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  @media (min-width: 576px) {
    .spin {
      margin-top: 3.9rem !important;
    }
  }
  
  @media (min-width: 768px) {
    .contain {
      max-width: 720px;
    }
  
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      display: inline-grid;
      grid-template-columns: 25% 25% 25% 25%;
    }
  
    .product-name {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      width: auto;
      font-size: 16px;
      text-align: center;
    }
  
    .product-image {
      width: 50%;
    }
  
    .buy_button {
      text-align: center;
      align-items: center;
    }
  
    .spin {
      margin-top: 4.1rem !important;
    }
  }
  
  @media (min-width: 992px) {
    .contain {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .contain {
      max-width: 1140px;
    }
  }